 {{#if loggedIn}}

<ol class="pet-list">
  {{#each pets as |pet|}}
  <li>
    {{> pet-info pet}}
  </li>
  {{/each}}
</ol>

   {{else}}

<div class="notloggedin">

<p class="description">Meet Lucky pets United. Lucky pets United is a social media 
app for you and your pets. Do you ever wonder if your pet is lonely?
The solution is here. Make a profile for your pet and discover other pet 
owners in the area </p> 

<h2>
  <a href="/signup">Start your adventure Today</a>
</h2>

</div>



    {{/if}}