<form class= "pet-form">
  <div>
    <label for="pet-name">Pet name:</label>
    <input type="text" id="pet-name" />
  </div>
  <div>
    <label for="animal">Type of Animal:</label>
    <input type="text" id="animal" />
  </div>
  <div>
    <label for="breed">Breed:</label>
    <input type="text" id="Breed" />
  </div>
  <div>
    <label for="age">Age:</label>
    <input type="number" id="age" />
  </div>
  <div>
    <label for="dog_image">Image:</label>
    <input name = "file" type="file" id="dog_image" />
  </div>
  <div>
    <button type="submit">Create Pet</button>
  </div>
</form>

<script src="/javascript/newpet.js"></script>

