
{{#if loggedIn}}
<div class="singlepet">
{{>pet-info pet}}
</div>



{{/if}}
{{!-- <section class="pet-profile">
    <div class="pet-image">
      <img src="">
    </div>
    <h3>{{name}}</h3>
    <p>
      Age: {{age}} </br>
      Type of Animal: {{animal}} </br>
      Breed: {{breed}} </br>
    </p>
</section> --}}