
{{#if loggedIn}}

<div class="singlepet">
  {{>pet-info pet}}
</div>

<div class="comment-section">
  <h4>Comments</h4>
  <form class="comment-form">
    <div>
      <textarea name="comment-body" placeholder="Add comment"></textarea>
    </div>
    <div>
      <button type="submit">Add Comment</button>
      {{!-- <button type="button" class="like-btn">Like</button> --}}
    </div>
  </form>
  <div class="comments-background">
    <div class="comments">
      {{#each pet.comments}}
        <section class="comment">
          <div class="meta">
            {{!-- You can delete the part that says "User:" & "Comment:" I just added temporarily so you can see read all the comments --}}
            User: {{user.username}}
            {{!-- on
            {{created_at}} --}}
          </div>
          <div class="text">
            Comment: {{comment_text}}
          </div>
        </section>
      {{/each}}
    </div>
  </div>
</div>

  <script src="/javascript/comment.js"></script>
  {{!-- We can add a Like feature to the Pets to kinda like the upvote in the module --}}
  {{!-- <script src="/javascript/upvote.js"></script> --}}
{{/if}}