<p>User Profile </p>

<div class="userprofile">
  <p> Username: {{user.username}}  </p> 
<p>    Email: {{user.email}}</p> 


<li>    Pet name: {{pet.length}}</li> 

  
</div>

<script src="/javascript/user-profile.js"></script>