<p>User Profile </p>

<div class="userprofile">
  <p> Username: {{user.username}}  </p> 
<p>    Email: {{user.email}}</p> 









 {{user.[1].pets.[1].name}}

  
</div>

<script src="/javascript/user-profile.js"></script>