* {
  font-family: "Open Sans", "Helvetica Neue";
  padding: 0;
  margin: 0;
  color: black;
}

html,
body {
  height: 100%;
  width: 100%;
  background-image: url("../images/backroundpets.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  
  background-color: #423c37;
  height: 6%;
  display: flex;
  padding: 1%;
}

header h1 {
  float: left;
  margin-left: 1vh;
}

header a {
  width: 100px;
  padding: 1vw;
  color: white;
  text-decoration: none;
}

header img {
  border-radius: 0%;
  height: 6vh;
  width: 6vh;
  
  
}

header button {
  padding: 0;
  border: none;
  font-size: 16px;
  background-color: #423c37;
}

nav  {
  padding-top: 1.5vh;

}


div .navigation {
  width: 99%;
  display: flex;
  justify-content: space-between;
 
}

div .notloggedin {
  background-image: url("../images/Notloggedin.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}

li {
  color: black;
}

.pet-list {
  display: flex;
  flex-wrap: wrap;
}

.pet-list li {
  background-color: #645b54;
  margin: 15px;
  padding: 20px;
  list-style-type: none;
}

.pet-list h3 {
  font-size: 25px;
}

.pet-list p {
  font-size: 20px;
}

img {
  border-radius: 50%;
  width: 150px; /* width of container */
  height: 150px; /* height of container */
  object-fit: cover;
  object-position: 20% 10%; /* try 20px 10px */ 
}

div .pet-image {
  width: 150px; /* width of container */
  height: 150px;
}

.description {
  font-size: large;
position: relative;
top: 13vh;
  width: 40vh;
  left: 10vh
}

.circular-sb {
  background-color: white;
  width: 50vh;
  border: 5px solid black;
  padding: 80px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  position: relative;
  left:40vh;
  bottom: 13vh;
  
}

.circle3 {
  border: 5px solid black;
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  left: -10px;
  bottom: 10px;
  background-color: white;
}

.circle3:before {
  content: "";
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  
}

.circle4 {
  background-color: white;
  border: 5px solid black;
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  left: -60px;
  bottom: 5px;
}


textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

form {
  
  padding-top:  10vh;
  text-align: center;
}

.noaccount {
  text-align: center;
}

button {
  padding: 8px 12px;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #8c7569;
  font-family: "Nunito", sans-serif;
  transition: 0.3s;
  cursor: pointer;
}

  button:hover {
    background: #423c37;
  }



form div label {

  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #8c7569;
  transition: 0.3s;
}

form div{
  
  flex-direction: column;
  padding: 10px 10px 8px;
 
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;}

  form div input {
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 14px;
    font-family: "Nunito", sans-serif;

    background-color: rgb(232, 240, 254);
  }
    input::placeholder {
      color: #ccc;
      opacity: 1;
    }

    
.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-background {
  background-color: white;
  border: 1px solid #ccc;
  margin: 0vh 56vh 0vh 56vh;
}

.comment-section h4 {
  position: relative;
  left: 46%;
  top: 5vw;
  text-decoration: underline;
  font-size: 2vw;
}

@media only screen and (max-width: 2560px) {
  .circular-sb {
    font-size: 1vw;
    border: 7px solid black;
    position: relative;
    bottom: 6vw;
  }

  .navigation nav a, .description {
    font-size: 3vh;
  }
}

@media only screen and (max-width: 1440px) {
  .circular-sb {
    font-size: 2vw;
    position: relative;
    left: 25vw;
  }
}

@media only screen and (max-width: 1024px) {
  .circular-sb {
    display: contents;
  }

  .circle3{
    display: none;
  }

  .circular-sb h2 {
    position: relative;
    top: 20vw;
  }

  .description {
    width: 76vw;
  }

  .comments-background {
    margin: 0vh 42vh 0vh 42vh;
  }
}

@media only screen and (max-width: 768px) {
  .notloggedin p {
    position: relative;
    top: 50px;
    font-size: 5vw;
  }

  .circular-sb h2 {
    font-size: 5vw;
  }

  .comments-background {
    margin: 0vh 32vh 0vh 32vh;
  }
}

@media only screen and (max-width: 425px) {
  .navigation h1 a {
    font-size: 5vw;
  }

  .navigation nav a {
    font-size: 5vw;
  }

  .description {
    position: relative;
    left: 15vw;
  }

  .pet-list {
    justify-content: center;
  }

  .singlepet {
    display: flex;
    justify-content: center;
  }

  .comment-section h4 {
    font-size: x-large;
  }

  .comments-background {
    margin: 0vh 18vh 0vh 18vh;
  }
}
  
@media only screen and (max-width: 375px) {
  .pet-image img {
    width: 125px;
    height: 125px;
  }  
}

@media only screen and (max-width: 320px) {
  .navigation h1 a {
    font-size: 6vw;
  }  

  .comments-background {
    margin: 0vh 12vh 0vh 12vh;
  }
}