* {
  font-family: "Open Sans", "Helvetica Neue";
  padding: 0;
  margin: 0;
  color: black;
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  
  background-color: #423c37;
  height: 6%;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

header a {
  width: 100px;
 
  color: white;
  text-decoration: none;
}

header img {
  height: 100px;
  width: 100px;
  z-index: 10;
}

div .notloggedin {
  background-image: url("../images/Notloggedin.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  color: black;
}

.pet-list li {
  background-color: #645b54;
  margin: 15px;
  padding: 20px;
  list-style-type: none;
}

.pet-list h3 {
  font-size: 25px;
}

.pet-list p {
  font-size: 20px;
}

img {
  border-radius: 50%;
  width: 150px; /* width of container */
  height: 150px; /* height of container */
  object-fit: cover;
  object-position: 20% 10%; /* try 20px 10px */ 
}

div .pet-image {
  width: 150px; /* width of container */
  height: 150px;
}

